<!-- Features Section-->
<section id="cta" class="bg-fixed overlay" style="background-image: url(assets/img/bg.jpg);">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">Misión</h2>
                    <img class="float-left" width="320px" src="/assets/img/blog-4.jpg" alt="">
                    <p font-size:14px> Ecol va a contribuir a la concientización, conservación y manejo sostenible de
                        los recursos
                        naturales del medio ambiente desde la justicia y solidaridad,
                        participando de manera activa en el cuidado ambiental en el ambito local, nacional e
                        internacional.
                        LIneamientos generales que deben regir nuestro actuar dia a dia. Dentro de ecol es deber de cada
                        uno de nosotros interiorizamos
                        y alinear nuestros esfuerzos hacia la consecucion de la visión

                        Ecol Mediante la comercialización de productos ecologicos se propone promover, participar,
                        estimular e intervenir las iniciativas de caracter ambiental con el fin de potenciar y
                        desarrollar
                        estilos de vida sostenibles
                    </p>
                    <a class="btn btn-outline-primary btn-lg"></a>
                </div>
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">Visión</h2>
                    <img class="float-left" width="320px" src="/assets/img/blog-4.jpg" alt="">
                    <p>Ecol quiere ser reconocida como una tienda online lider y consolidada en materia ecologica,
                        comprometida con el mejoramiento de la calidad de vida de las personas y el cuidado sostenible
                        delos recursos naturales,
                        en un mundodonde la sociedad viva en igualdad, dignidad y en armonia con la naturaleza.
                        Para ello, pone a disposición los mejores productos ecologicos para garantizarla no
                        contaminación
                        (NO WASTE) a la vez que adquiere un fuerte compromiso con todos sus clientes para el
                        cumplimiento de su mision.
                    </p>
                    <a class="btn btn-outline-primary btn-lg"></a>
                </div>
            </div>
        </div>
    </div>
</section>